[submodule "pack/airblade/start"]

	path = pack/airblade/start
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
